@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  min-height: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Input default dibuat gelap */
input,
textarea,
select {
  background-color: #0b1523 !important;
  color: #ffffff !important;
}

/* Warna tulisan placeholder */
input::placeholder,
textarea::placeholder {
  color: #64748b !important;
  opacity: 1;
}

/* Agar input tetap gelap saat Chrome / Edge autofill */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #ffffff !important;
  -webkit-box-shadow: 0 0 0 1000px #0b1523 inset !important;
  box-shadow: 0 0 0 1000px #0b1523 inset !important;
  caret-color: #ffffff;
  transition: background-color 9999s ease-in-out 0s;
}

/* Menghilangkan warna putih bawaan saat input aktif */
input:focus,
textarea:focus,
select:focus {
  background-color: #0b1523 !important;
  color: #ffffff !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #ffffff !important;
  -webkit-box-shadow: 0 0 0 1000px #0b1523 inset !important;
  box-shadow: 0 0 0 1000px #0b1523 inset !important;
  caret-color: #ffffff !important;
}